@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/action-sheet.scss";
.fund {
  background-color: #f1f1f1;
  min-height: 100vh;
  .fund-code {
    color: #999;
    margin-top: 10px;
  }
  .summary {
    margin-top: 20px;
    background-color: #fff;
    font-size: 28px;
    color: #333;
    text-align: left;
    padding: 20px;
  
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: thin #f5f5f5 solid;
    z-index: 999;
    padding-bottom: calc(20px + env(safe-area-inset-bottom));
  }
  .summary-placeholder {
    height: 120px;
    padding-bottom: env(safe-area-inset-bottom);
  }
}
.table {
  margin-top: 10px;
  background-color: #fff;
  overflow-x: auto;
  &-headers {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: bold;
    font-size: 26px;
    border-bottom: thin solid #e0e2e4;
    height: 80px;
    padding-left: 20px;
  }
  &-header, &-item {
    &:first-child {
      flex-basis: 280px;
    }
    flex-shrink: 0;
    flex-basis: 120px;
    padding-right: 15px;
  }
  &-column {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 24px;
    color: #333;
  }
}
.table-item {
  input {
    margin-left: 0;
    border: thin solid #e5e5e5;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 24px;
    
  }
  .NAVCHGRT {
    font-size: 22px;
  }
}
.green {
  color: #008000
}
.red {
  color: #ff0000
}
.cancel-btn {
  transition: all 1s ease;
}
.show-cancel {
  animation: show-cancel-btn .5s ease;
  animation-fill-mode: forwards;
}
.hide-cancel {
  animation: hide-cancel-btn .5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes show-cancel-btn {
  0% {
    right: -100px;
    rotate: -720deg;
  }
  to {
    right: 160px;
    rotate: 0deg;
  }
}
@keyframes hide-cancel-btn {
  0% {
    right: 160px;
    rotate: 0deg;
  }
  to {
    right: -100px;
    rotate: 720deg;
  }
}